
* {
    
    font-size: 22px;
    position: relative;

}

html, body {

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

body {

    background-color: #c2ddd8;

}

h1 {

    color: #fffef2;
    font-family: Megrim, Impact, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;

}

.calculator {

    width: 400px;
    height: 500px;
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #d3cdcd;

}

.display_area {

    width: 350px;
    height: 50px;
    /* border: solid 2px #555; */
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    border-radius: 10px;

}

#display_screen {

    height: 100%;
    width: 350px;
    background-color: rgb(233, 233, 233);
    float: right;
    border-radius: 10px;

}

#display_num {
    
    width: 98%;
    border-radius: 10px;

    font-size: 45px;
    margin: 0;
    text-align: right;

}

.btn_area {

    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    top: 55px;

}

.btn_row {

    height: 60px;
    padding: 4px;

}

.btn {

    width: 22%;
    height: 100%;
    padding: 10px;
    margin: 0 3px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(198, 198, 198);
    box-shadow: 0 2px #888;

}

.btn:hover {

    background-color: #999;

}

#zero {

    width: 47.5%;
    height: 100%;
    padding: 10px;
    margin: 0 3px;

}

#clean {

    width: 47.5%;
    height: 100%;
    padding: 10px;
    margin: 0 3px;

}

