
* {
    
    font-size: 22px;
    position: relative;

}

html, body {

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

body {

    background-color: rgb(198, 198, 198);

}

.calculator {

    width: 400px;
    height: 500px;
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

.display_area {

    width: 350px;
    height: 50px;
    border: solid 2px #555;
    margin-left: auto;
    margin-right: auto;
    top: 25px;

}

#cal {

    height: 100%;
    width: 60px;
    background-color: rgb(233, 233, 233);
    float: left;
    border-right: solid 2px #555;
}

#operator {

    font-size: 45px;
    margin: 0;
    text-align: center;
    color: #777;

}

#display_screen {

    height: 100%;
    width: 288px;
    background-color: rgb(233, 233, 233);
    float: right;

}

#display_num {
    
    font-size: 45px;
    margin: 0;
    text-align: right;

}

.btn_area {

    width: 350px;
    height: 350px;
    border: solid 2px #111;
    margin-left: auto;
    margin-right: auto;
    top: 55px;

}

.btn_row {

    height: 60px;
    padding: 4px;

}

.btn {

    width: 22%;
    height: 100%;
    padding: 10px;
    margin: 0 3px;

}

#zero{

    width: 47.5%;
    height: 100%;
    padding: 10px;
    margin: 0 3px;

}



